body{
  margin: 0px;
  padding: 0 0 15px 0;
  background-color: rgb(225, 224, 224);
  color: rgb(53, 51, 51);
}

.container {
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.header .brand {
  display: flex;
  justify-content: flex-start;
}

.header .brand .title {
  display: flex;
  flex-direction: column;
}

.header h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 56px;
  letter-spacing: 3px;
  margin: 5px 10px 0px;
}

.header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  margin: 0px 10px;
}

.user {
  width: 250px;
  height: 50px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user .login {
  font-family: 'Open Sans', sans-serif;
  color: blue;
  font-size: 15px;
  cursor: pointer;
}

.user .icon {
  font-size: 40px;
  margin-left: 10px;
  color: white;
}

.user .welcome {
  font-size: 16px;
}

.no-tools-found {
  margin-top: 20px;
  color: rgb(128, 128, 128);
  font-size: 20px;
  padding: 10px;
}

@media (max-width: 830px) {
  .container {
    width: 100vw;
  }
}

@media (max-width: 600px) {
  .header p {
    font-size: 18px;
    font-weight: bold;
  }

  .user {
    font-size: 14px;
  }

  .user .icon {
    font-size: 30px;
  }

}