*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.tool-item {
  font-family: 'Questrial', sans-serif;
  background-color: rgb(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 5px;
  margin: 8px 0px;
  padding: 0px 20px;
  min-height: 150px;
}

.tool-item:hover {
  /* background-color: rgb(248, 248, 248); */
}
  
.tool-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tool-item .title {
  font-size: 25px;
  font-weight: 900;
}

.tool-item .buttons {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: rgb(223, 46, 48);
  align-items: center;
  cursor: pointer;
  padding: 10px 2px;
}

.tool-item .buttons:hover {
  color: #750000;
}

.tool-item .delete-icon {
  font-size: 20px;
  margin-right: 4px;
}

.tool-item .body .description {
  font-size: 20px;
  margin: 5px 0 40px;
}

.tool-item .body .tag {
  font-family: 'Audiowide', cursive;
  margin-right: 10px;
  background-color: rgb(223, 46, 48);
  color: rgb(255, 255, 255);
  padding: 2px 15px 3px;
  border-radius: 50px;
  font-size: 13px;
  border: 2px solid rgb(223, 46, 48);
  cursor: pointer;
}

.tool-item .body .tag:hover {
  color:  rgb(223, 46, 48);
  background-color: white;
}